html, body {
    margin: 0 auto;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game {
    background-color: #333;
}
/* Set up a responsive grid for the game board */
#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

/* Style the cells of the game board */
.cell {
    background-color: #fff;
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7em;
    font-weight: 600;
}

/* Style the X and O symbols */
.cell[data-cell='X'] {
    color: #f00;
}
.cell[data-cell='O'] {
    color: #00f;
}

/* Style the display for the current player's turn */
#current-player {
    font-size: 20px;
    margin-top: 20px;
}

/* Style the reset button */
#reset-button {
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}