:root {
    --bg-color: #264653;
    --sec-color: #2a9d8f;
    --p2cell-color: #e9c46a;
    --p1cell-color: #f4a261;
    --color1-color: #e76f51;
}

body {
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}
#game {
    background-color: var(--sec-color);
}
/* Set up a responsive grid for the game board */
#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

/* Style the cells of the game board */
.cell {
    background-color: var(--bg-color);
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7em;
    font-weight: 600;
}

/* Style the X and O symbols */
.cell[data-cell='X'] {
    color: var(--p1cell-color);
}
.cell[data-cell='O'] {
    color: var(--p2cell-color);
}
/* Style the display for the current player's turn */
#current-player {
    font-size: 20px;
    margin-top: 20px;
}

/* Style the reset button */
#reset-button {
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--sec-color);
    color: #000;
    cursor: pointer;
}